body {
	font-family: 'Open Sans', sans-serif;
}

.navbar-brand
{
  font-size: larger;
}

.navbar {
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	font-size: larger;
}

ul.dropdown-menu > li {
    text-align: left;
}

.content {
	padding-top: 3%;
}

h1 {
	text-transform: uppercase;
	color: gray;
	padding-bottom: 0.5%;
}

.game {
	padding-bottom: 3%; 
}

.game p:nth-child(2) {
	font-style: italic;
}

#resume_div {
	margin: auto;
	width: 100%;
	height: 100%;
	padding-top: 10%;
}

#about_contact {
	padding-top: 10%;
	text-align: right;
}

#about_contact p {
	font-size: larger;
	line-height: 90%;
}

#about_writeup p {
	font-size: larger;
	line-height: 180%;
}
