html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: radial-gradient(aquamarine, steelblue);
    margin-bottom: 15%;
}

.navbar-brand {
    font-size: 200%;
    font-family: 'Play', sans-serif;
}

#lastname {
    color:#90ee90;
}

.navbar-brand:hover #lastname {
    color: #ecf0f1;
}

.navbar .navbar-brand {
  color: #ecf0f1;
}

.navbar {
    position: fixed;
    width: 100%;
    background-image: none;
    background-color: #222222;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-size: larger;
    font-family: 'Play', sans-serif;
}

.navbar li a {
  color: #ecf0f1;
  border-radius: .25rem;
  margin: 0 0.25em;
}

.navbar li a:hover {
    background-color: #444444;
}

.navbar .navbar-nav .nav-link:focus {
  background-color: #444444;
}

ul.dropdown-menu li {
    text-align: left;
}

ul.dropdown-menu li a.dropdown-item {
    color: black;
}

.content {
    padding-top: 100px;
    padding-bottom: 1%;
    bottom: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20rem;
    
    padding-top: 5%;

    background-color: #222222;
    border-radius: 0;

    font-size: 80%;
    color: white;
}

.footer-buttons {
    float: right;
    padding-right: 1%;
}

.footer-buttons li {
    display: inline-block;
}

.footer-icon {
    height: 2.5em;
    width: 2.5em;
    margin-left: 0.5em;
    transition: opacity 0.1s ease;
}

.footer-icon:hover {
    opacity: 0.7;
}

.about-icon {
    height: 1.5em;
    width: 1.5em;
    margin-left: 0.5em;
}

h1 {
    text-transform: uppercase;
    color: #222222;
    padding-bottom: 0.5%;
}

h1:not(#about_header) {
    padding-left: 2%;
}

h2 {
    color: gray;
    padding-left: 2%;
    padding-bottom: 1%;
}

.carousel {
    margin: 0 auto;
}

#homeCarousel > .carousel-inner > .item {
    height: 80vh;
}

#wirCarousel > .carousel-inner > .item,
#superflickCarousel > .carousel-inner > .item {
    height: 40vh;
}

.carousel-inner {
    background: linear-gradient(#222222, #3b3b3b, #222222);
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img
 {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    width: 100%;
    min-width: 100%;
    height: auto;
}

.carousel-inner > .item:nth-child(3) > .carousel-caption {
    color: black;
}

.content_centered {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
}

.portfolio_item {
    padding-bottom: 3%; 
}

.portfolio_item p:nth-child(2) {
    font-style: italic;
}

.col-sm-7, .col-sm-6 {
    border-radius: 25px;
    border: 5px solid white;
    background-color: rgba(255,255,255,0.7);
    padding-bottom: 2%;
}   

.portfolio_item li {
    padding-bottom: 1%;
}

.portfolio_item a {
    text-decoration: none;
    display: inline-block;
    margin-right: 5%;
    margin-top: 5%;
}

.portfolio_button {
    margin-top: 5%;
    width: 12rem;
    height: 5rem;
    background-color: #222222;
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-style: bold;
}

.portfolio_button:hover {
    background-color: #444444;
}

.img-display {
    margin-left: 2%;
}

.img-display:hover .overlay {
  opacity: 0.5;
}

.img_text {
  color: black;
  font-size: 100%;
  position: absolute;
  padding-left: 5%;
  padding-top: 3%;
}

#about_image {
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
}

#about_contact {
    padding-top: 10%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: right;
}

#about_contact p {
    font-size: larger;
    line-height: 90%;
}

#about_writeup {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 4%;
}

#about_writeup p {
    font-size: larger;
    line-height: 180%;
}
